@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:url('./../fonts/Roboto-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    src:url('./../fonts/Barlow-Light.woff') format('woff')
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src:url('./../fonts/Barlow-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src:url('./../fonts/Barlow-Medium.woff') format('woff')
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src:url('./../fonts/Barlow-SemiBold.woff') format('woff')
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src:url('./../fonts/Barlow-Bold.woff') format('woff')
}

@font-face {
    font-family: "Texturina";
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/Texturina-Regular.woff') format('woff');
}